<a href="https://www.fitbit.com/oauth2/authorize?client_id=22CR6R&response_type=code&redirect_uri=https://strava-to-fitbit.azurewebsites.net/oauth/callback/fitbit&scope=activity">Connect to Fitbit</a>
<br>
<a href="https://www.strava.com/oauth/authorize?client_id=23055&response_type=code&redirect_uri=https://strava-to-fitbit.azurewebsites.net/oauth/callback/strava&scope=view_private">Connect to Strava</a>